/*******************************
HOUSTON LANDING LAYOUT MOD
********************************/

img {
  border-radius: 10%;
  max-width: 100%;
  display: inline-block;
}

.photos {
  margin: 0;
}

.photo_box {
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 50px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px;
}

.houston-text {
  width: 80%;
  margin-left: 15%;
  margin-right: 10%;
}

.photo_text {
  display: inline-block;
  width: 35%;
  margin: 5%;
}

nav {
  margin-top: 100px;
}

/*******************************
300PX MEDIA QUERY
********************************/

@media screen and (min-width: 300px) and
(max-width: 479px) {

}

/*******************************
480PX MEDIA QUERY
********************************/

@media screen and (min-width: 480px) and
(max-width: 599px) {

}

/*******************************
600PX MEDIA QUERY
********************************/

@media screen and (min-width: 600px) and
(max-width: 767px) {

}

/*******************************
768PX MEDIA QUERY
********************************/

@media screen and (min-width: 768px) and
(max-width: 991px) {

}

/*******************************
992PX MEDIA QUERY
********************************/

@media screen and (min-width: 992px) and
(max-width: 1281px){

}

/*******************************
1382PX MEDIA QUERY
********************************/

@media screen and (min-width: 1382px) {

}
