/*******************************
BODY
********************************/
body {
  background-color: #33332D;
  color: #9FB4CC;
  font-family: 'Josefin Sans', sans-serif; }

h2 {
  font-size: 22px;
  text-align: center;
  margin-top: 20px; }

p {
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px; }

a {
  text-decoration: none;
  color: #9FB4CC; }

p > a {
  font-style: italic; }

a:hover {
  color: #FFF8E3; }

img, .photo_text {
  border-radius: 100%;
  width: 250px;
  height: auto; }

.photo_text p {
  font-size: 18px;
  line-height: 1.2; }

.photos {
  display: inline-block;
  margin: 20px 20px 60px 20px; }

.photo_box {
  margin-left: 275px;
  margin-top: 50px;
  margin-right: 150px; }

.photos p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center; }

/*******************************
HEADER
********************************/
h1 {
  color: #DB4105;
  font-size: 64px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 10px;
  margin: 0 auto; }

/*******************************
NAVIGATION
********************************/
nav ul {
  text-align: center;
  font-size: 28px;
  font-family: 'Pacifico', cursive;
  margin: 0 auto;
  padding: 0; }
nav li {
  display: inline;
  padding: 20px; }
nav a {
  color: #9FB4CC;
  text-decoration: none; }
nav a:hover {
  color: #FFF8E3; }

.current_link a {
  color: #DB4105; }

.border_bottom {
  border-bottom: 4px double #CCCC9E;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px; }

/*******************************
FOOTER
********************************/
footer {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%; }

footer p {
  color: #CCCC9E;
  font-style: italic;
  font-size: 12px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center; }

/*******************************
HOME PAGE ONE COLUMN LAYOUT MOD
********************************/
img, .photo_text {
  width: 70%; }

.photo_box, img, .photos p {
  margin-left: 15%;
  margin-right: 15%; }

.aubie {
  width: 100%; }

/*******************************
TINY MEDIA QUERY
********************************/
@media screen and (max-width: 319px) {
  h1 {
    font-size: 32px; }
  nav li {
    padding: 5px; }
  nav ul {
    font-size: 14px; }
  h2 {
    font-size: 18px; }
  p {
    font-size: 14px; }
  img, .photo_text {
    width: 80%; }
  .photo_box, img, .photos p {
    margin-left: 10%;
    margin-right: 10%; }
  .photos p {
    font-size: 12px; } }

/*******************************
320PX MEDIA QUERY
********************************/
@media screen and (min-width: 320px) and (max-width: 479px) {
  h1 {
    font-size: 38px; }
  nav li {
    padding: 5px; }
  nav ul {
    font-size: 16px; }
  h2 {
    font-size: 20px; }
  p {
    font-size: 16px; }
  img, .photo_text {
    width: 80%; }
  .photo_box, img, .photos p {
    margin-left: 10%;
    margin-right: 10%; }
  .photos p {
    font-size: 16px; } }

/*******************************
480PX MEDIA QUERY
********************************/
@media screen and (min-width: 480px) and (max-width: 599px) {
  h1 {
    font-size: 40px; }
  nav li {
    padding: 5px; }
  nav ul {
    font-size: 18px; }
  ul {
    font-size: 18px; }
  h2 {
    font-size: 22px; }
  p {
    font-size: 18px; }
  img, .photo_text {
    width: 80%; }
  .photo_box, img, .photos p {
    margin-left: 10%;
    margin-right: 10%; }
  .photos p {
    font-size: 18px; } }

/*******************************
600PX MEDIA QUERY
********************************/
@media screen and (min-width: 600px) and (max-width: 991px) {
  h1 {
    font-size: 44px; }
  nav li {
    padding: 5px; }
  nav ul {
    font-size: 20px; }
  h2 {
    font-size: 22px; }
  p {
    font-size: 18px; }
  img, .photo_text {
    width: 80%; }
  .photo_box, img, .photos p {
    margin-left: 10%;
    margin-right: 10%; }
  .photos p {
    font-size: 18px; } }
