.photos {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.photo_box {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  margin-right: 10%;
}

img, .photos p {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

nav ul {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

nav {
  margin-top: 100px;
}


/*******************************
TINY MEDIA QUERY
********************************/

@media screen and (max-width: 319px) {

  h1 {
    font-size: 32px;
  }

  nav li {
    padding: 5px;
  }

  nav {
    margin-top: 50px;
  }

  nav ul {
    font-size: 16px;
  }

  h2 {
    font-size: 18px;
  }

  img, .photos, .photo_text {
    width: 80%;
  }

  .photo_box, .photos, .photo_text {
    margin-left: 10%;
    margin-right: 10%;
  }

  .photos p {
    font-size: 14px;
  }

  footer p {
    font-size: 10px;
  }


}

/*******************************
320PX MEDIA QUERY
********************************/

@media screen and (min-width: 320px) and
(max-width: 479px) {

  h1 {
    font-size: 34px;
  }

  nav li {
    padding: 5px;
  }

  nav {
    margin-top: 50px;
  }

  nav ul {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  img, .photos, .photo_text {
    width: 80%;
  }

  .photo_box, .photos, .photo_text {
    margin-left: 10%;
    margin-right: 10%;
  }

  .photos p {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
  }

}

/*******************************
480PX MEDIA QUERY
********************************/

@media screen and (min-width: 480px) and
(max-width: 599px) {

  h1 {
    font-size: 40px;
  }

  nav li {
    padding: 5px;
  }

  nav {
    margin-top: 50px;
  }

  nav ul {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  img, .photos, .photo_text {
    width: 80%;
  }

  .photo_box, .photos, .photo_text {
    margin-left: 10%;
    margin-right: 10%;
  }

  .photos p {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }

}

/*******************************
600PX MEDIA QUERY
********************************/

@media screen and (min-width: 600px) and
(max-width: 767px) {

  h1 {
    font-size: 44px;
  }

  nav li {
    padding: 5px;
  }

  nav {
    margin-top: 50px;
  }

  nav ul {
    font-size: 22px;
  }

  h2 {
    font-size: 22px;
  }

  img, .photos, .photo_text {
    width: 80%;
  }

  .photo_box, .photos, .photo_text {
    margin-left: 10%;
    margin-right: 10%;
  }

  .photos p {
    font-size: 20px;
  }

  footer p {
    font-size: 14px;
  }

}

/*******************************
768PX MEDIA QUERY
********************************/

@media screen and (min-width: 768px) and
(max-width: 991px) {

  h1 {
    font-size: 48px;
  }

  nav li {
    padding: 5px;
  }

  nav {
    margin-top: 50px;
  }

  nav ul {
    font-size: 24px;
  }

  h2 {
    font-size: 26px;
  }

  img, .photos, .photo_text {
    width: 80%;
  }

  .photo_box, .photos, .photo_text {
    margin-left: 10%;
    margin-right: 10%;
  }

  .photos p {
    font-size: 18px;
  }

  footer p {
    font-size: 14px;
  }

}
