/*******************************
BODY
********************************/

body {
  background-color: #33332D;
  color: #9FB4CC;
  font-family: 'Josefin Sans', sans-serif;
}

h2, p {
  margin-left: 200px;
  margin-right: 150px;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #9FB4CC;
}

p > a {
  font-style: italic;
}

a:hover {
  color: #FFF8E3;
}

img, .photo_text {
  border-radius: 100%;
  width: 250px;
  height: auto;
}

.photo_text p {
  font-size: 18px;
  line-height: 1.2;
}

.photos {
  display: inline-block;
  margin: 20px 20px 60px 20px;
}

.photo_box {
  margin-left: 275px;
  margin-top: 50px;
  margin-right: 150px;
}

.photos p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}


/*******************************
HEADER
********************************/

h1 {
  color: #DB4105;
  font-size: 64px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 10px;
  margin: 20px 10px 0px 50px;
}


/*******************************
NAVIGATION
********************************/

nav ul {
  text-align: center;
  font-size: 28px;
  font-family: 'Pacifico', cursive;
}

nav li {
  display: inline;
  padding: 20px;

}

nav a {
  color: #9FB4CC;
  text-decoration: none;
}

nav a:hover {
  color: #FFF8E3;
}

.current_link a {
  color: #DB4105;
}

.border_bottom {
  border-bottom: 4px double #CCCC9E;
}

/*******************************
FOOTER
********************************/

footer p {
  color: #CCCC9F;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
}
